// Colors
$Headlines: #000000 !default;
$Background: #ffffff !default;
$Highlight-1: #e5ff61 !default;
$Highlight-2: #7b61ff !default;
$Highlight-3: #ff6196 !default;
$Highlight-4: #61ffca !default;
$Highlight-5: #ff3030 !default;

// gradient-color
$gradient-1: linear-gradient(90deg, #f6e3dc 0%, #fdf1e3 100%) !default;
$gradient-2: linear-gradient(90deg, #f6e1e8 0%, #ebe3f0 100%) !default;
$gradient-3: linear-gradient(90deg, #efecff 0%, #c4b8ff 100%) !default;
$gradient-4: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%) !default;
$gradient-5: linear-gradient(90deg, #ffecfd 0%, #b8bbff 100%) !default;
$gradient-6: linear-gradient(90deg, #e5ff61 0%, #94ff61 100%) !default;
$gradient-7: linear-gradient(90deg, #7b61ff8e 0%, #b7a9ff5d 0.01%, #7b61ff6c 100%) !default;
$gradient-8: linear-gradient(90deg, #ffbed4 0%, #ff6196 100%) !default;
$gradient-9: linear-gradient(113.66deg, #ceffef 15.16%, #61ffca 84.69%) !default;

// Fonts
$font-primary: "Space Grotesk", sans-serif !default;

// Typography
$h1: 56px !default;
$h1-line_height: 66px !default;
$h2: 50px !default;
$h2-line-height: 59px !default;
$h3: 42px !default;
$h3-line-height: 49px !default;
$h4: 21px !default;
$h4-line-height: 25px !default;
$h5: 16px !default;
$h5-line-height: 19px !default;
$body-font-size: 16px !default;
$body-line-height: 24px !default;
