$header1-bgColor: #7B61FF;
$header1-logoImg: url('image/svg/navbar/light-logo.svg');
$header1-hamburgerImg: url("image/svg/navbar/hamburger-light.svg");



$header2-bgColor: #7B61FF;
$header2-logoImg: url('image/svg/navbar/light-logo.svg');
$header2-colorText: #fff;
$header2-btn-borderColor: #fff;
$header2-btn-bgColor: #7B61FF;
$header2-btn-textColor: #fff;
$header2-barColor: #fff;

@import '../../themed/header-style.scss';