$cta-bgColor:#000000;
$cta-subTitleColor:#7B61FF;
$cta-titleColor: #FFFFFF;
$cta-bodyColor: #FFFFFF75;
$cta-btnBgColor: linear-gradient(90deg, #EFECFF 0%, #C4B8FF 100%);
$cta-btnTextColor: #000000;

// cta 2
$cta2-bgColor:#000000;
$cta2-topBtn-bgColor:#7B61FF;
$cta2-topBtn-TextColor:#FFFFFF;
$cta2-textColor: #FFFFFF;
$cta2-bottomBtn-bgColor: linear-gradient(90deg, #EFECFF 0%, #C4B8FF 100%);
$cta2-bottomBtn-TextColor: #000000;

$cta2-heroImg: url('image/png/cta/imgWithPurpleBackground.png');

// cta 3
$cta3-bgColor:#000000;
$cta3-TitletextColor:#FFFFFF;
$cta3-bodyTextColor:#FFFFFF75;
$cta3-btn-bgColor:linear-gradient(90deg, #EFECFF 0%, #C4B8FF 100%);
$cta3-btn-textColor:#000000;

$cta3-btnImg:url('image/svg/cta/PowerIcon.svg');
$cta3-bottomImg:url('image/svg/cta/circleWithGreenLine.svg');

$background-color-purple: #7B61FF;
$background-color-dark: #000;
// Import basic theme
@import '../../themed/cta-style.scss';