$team1-bgColor: #FFFFFF;
$team1-subTitle-textColor: #7B61FF;
$team1-textColor:#000000;
$team1-btn-bgColor: #FFFFFF;
$team1-btn-textColor: #000;
$team1-btn-borderColor: #000;
$team1-teamGrid-bgColor: #000000;
$team1-teamGrid-textColor: #FFFFFF;

$team2-bgColor: #fff;
$team2-titleColor: #000;
$team2-textColor: #000;

@import '../../themed/team-style.scss';