<div class="contact-main-section">
    <div class="contact-img-section"></div>
    <div class="contact-content-section">
        <div class="title"></div>
        <div class="intro-text"></div>
        
    </div>
</div>