<!-- var -->
{% set title="This SaaS template gets you up and running in no time." %}
{% set topBtnName="NEW!" %}
{% set downBtnName="Download for free" %}

<!-- img path -->
{% set ctaMainImgPath="/image/png/cta/imgWithBlackBackground.png"%}
<div class="cta-main-section bg-light-purple">
    <div class="cta-main-img-section">
        <img src="{{ctaMainImgPath}}" alt="">
    </div>
    <div class="cta-main-content-section">
        <div class="top-button">
            <button>{{topBtnName}}</button>
        </div>
        <div class="title">
            <h2>{{title}}</h2>
        </div>
        <div class="down-btn">
            <button>{{downBtnName}}</button>
        </div>
    </div>
</div>