<!-- var -->
{% set subTitle="Call to action section"%}
{% set title="Bring more attention to a feature with a wide layout."%}
{% set body="Once you’ve communicated your value proposition, shed some light on critical features loved by your customers."%}
{% set btnTitle="Download for free"%}

<!-- var img -->
{% set bkgLogo="/image/svg/cta/backgroundLogo.svg"%}

<div class="cta-section bg-dark">
    <div class="cta-section-content">
        <div class="subtitle">
            <h5>{{subTitle}}</h5>
        </div>
        <div class="title">
            <h2 class="light-text">{{title}}</h2>
        </div>
        <div class="body">
            <p class="light-white-text">{{body}}</p>
        </div>
    </div>
    <div class="cta-section-button">
        <button class="btn-gradient">{{btnTitle}}</button>
    </div>
    <div class="background-img">
        <img src="{{bkgLogo}}" alt="">
    </div>
</div>