<!-- varibales -->
{% set title="Simplicity is key. Elevate your copy with a simple design."%}
{% set body="Here is a section with two features or points and a subheading."%}
{% set itemTitle="A simple heading"%}
{% set itemBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit."%}

<!-- img path -->
{% set icon1Path="css/image/svg/features/shopping-cart.svg"%}
{% set icon2Path="css/image/svg/features/meter.svg"%}
{% set icon3Path="css/image/svg/features/software.svg"%}
{% set icon4Path="css/image/svg/features/chat.svg"%}
{% set icon5Path="css/image/svg/features/apple.svg"%}
{% set icon6Path="css/image/svg/features/toggle-icon.svg"%}


<!-- feature 5 -->
<section class="body">
    <div class="feature-section-column-view">
        <div class="feature-section-column-view-text-content">
            <div class="feature-section-column-view-text-content-title text-center">
                <h2>{{title}}</h2>
            </div>
            <div class="feature-section-column-view-text-content-body text-center">
                <p>{{body}}</p>
            </div>
        </div>
        <div class="feature-section-column-view-list-content">
            <div class="feature-section-column-view-list-content-item">
                <div class="feature-section-column-view-list-content-item-icon text-center">
                    <img src="{{icon1Path}}" alt="icon">
                </div>
                <div class="feature-section-column-view-list-content-item-title text-center">
                    <h5>{{itemTitle}}</h5>
                </div>
                <div class="feature-section-column-view-list-content-item-body position-center">
                    <p> {{itemBody}}</p>
                </div>
            </div>
            <div class="feature-section-column-view-list-content-item">
                <div class="feature-section-column-view-list-content-item-icon text-center">
                    <img src="{{icon2Path}}" alt="icon">
                </div>
                <div class="feature-section-column-view-list-content-item-title text-center">
                    <h5>{{itemTitle}}</h5>
                </div>
                <div class="feature-section-column-view-list-content-item-body position-center">
                    <p> {{itemBody}}</p>
                </div>
            </div>
            <div class="feature-section-column-view-list-content-item">
                <div class="feature-section-column-view-list-content-item-icon text-center">
                    <img src="{{icon3Path}}" alt="icon">
                </div>
                <div class="feature-section-column-view-list-content-item-title text-center">
                    <h5>{{itemTitle}}</h5>
                </div>
                <div class="feature-section-column-view-list-content-item-body position-center">
                    <p> {{itemBody}}</p>
                </div>
            </div>
            <div class="feature-section-column-view-list-content-item">
                <div class="feature-section-column-view-list-content-item-icon text-center">
                    <img src="{{icon4Path}}" alt="icon">
                </div>
                <div class="feature-section-column-view-list-content-item-title text-center">
                    <h5>{{itemTitle}}</h5>
                </div>
                <div class="feature-section-column-view-list-content-item-body position-center">
                    <p> {{itemBody}}</p>
                </div>
            </div>
            <div class="feature-section-column-view-list-content-item">
                <div class="feature-section-column-view-list-content-item-icon text-center">
                    <img src="{{icon5Path}}" alt="icon">
                </div>
                <div class="feature-section-column-view-list-content-item-title text-center">
                    <h5>{{itemTitle}}</h5>
                </div>
                <div class="feature-section-column-view-list-content-item-body position-center">
                    <p> {{itemBody}}</p>
                </div>
            </div>
            <div class="feature-section-column-view-list-content-item">
                <div class="feature-section-column-view-list-content-item-icon text-center">
                    <img src="{{icon6Path}}" alt="icon">
                </div>
                <div class="feature-section-column-view-list-content-item-title text-center">
                    <h5>{{itemTitle}}</h5>
                </div>
                <div class="feature-section-column-view-list-content-item-body position-center">
                    <p> {{itemBody}}</p>
                </div>
            </div>
        </div>
    </div>
</section>