{# content variables #}
{% set heading="Billing simplified."%}
{% set body="A subheading that addresses the what, the why we should care and hopefully some social proof."%}
{% set subBody="No credit card required."%}
{% set btnTitle="Give it a try"%}
{% set testimonialBody='“A testimonial that absolutely nails the value proposition in a sentence or two”.'%}
{% set testimonialPost= "Cameron Williamson, CEO, Stripe"%}

{# image varibales  #}
{% set mainImg="css/image/png/hero1/hero1-mobile.png"%}
{% set testimonialProfilePicture="css/image/png/hero1/hero1-prsn.png"%}