{# hero content variables #}
{% set heroSectionTitle="Billing simplified."%}
{% set heroSectionBody="A subheading that addresses the what, the why we should care and hopefully some social proof."%}
{% set heroSectionSubBody="No credit card required."%}
{% set heroSectionBtnTitle="Give it a try"%}
{% set heroSectionTestimonialBody='“A testimonial that absolutely nails the value proposition in a sentence or two”.'%}
{% set heroSectionTestimonialPost= "Cameron Williamson, CEO, Stripe"%}

{# hero image varibales  #}
{% set heroSectionPrimaryImg="css/image/png/hero1/hero1-mobile.png"%}
{% set heroSectionSecondaryImg="css/image/png/hero2/Mobile-Mockup.png"%}
{% set heroSectionTertiaryImg="css/image/png/hero2/Mobile-Mockup-2.png"%}
{% set heroSectionTestimonialProfilePicture="css/image/png/hero1/hero1-prsn.png"%}
{% set heroSectionTestimonialProfilePictureH3="css/image/png/hero3/person-1.png"%}