{% set tab1="Industries"%}
{% set tab2="Product"%}
{% set tab3="Pricing"%}
{% set logoImgPath="/image/svg/navbar/logo-dark.svg"%}
{% set buttonName1="Button"%}
{% set buttonName2="Button"%}
<!-- navigation dark -->
<section class="body">
    <div class="navigation_section">
        <div class="navbar_menu">
            <ul class="list">
                <li class="item"><a href="">{{tab1}}</a></li>
                <li class="item"><a href="">{{tab2}}</a></li>
                <li class="item"><a href="">{{tab3}}</a></li>
            </ul>
        </div>
        <div class="navbar_logo"></div>
        <div class="navbar_btn">
            <button class="btn android_app-btn">{{ buttonName1 }}</button>
            <button class="btn ioS_app-btn">{{ buttonName2 }}</button>
        </div>
        <div class="hamburger">
            <ul>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
            </ul>
        </div>
    </div>
</section>