{% set button1Name= "Button" %}
{% set button2Name= "Sign up" %}
<!-- gardient version navigations  -->
<section class="body">
    <div class="navigation_section">
        <div class="navbar_logo"></div>
        <div class="navbar_menu">
            <ul class="list">
                <li class="item"><a href="">Industries</a></li>
                <li class="item"><a href="">Product</a></li>
                <li class="item"><a href="">Pricing</a></li>
                <li class="item"><a href="">About</a></li>
            </ul>
        </div>
        <div class="navbar_btn">
            <button class="btn android_app-btn">{{ button1Name }}</button>
            <button class="btn ioS_app-btn">{{ button2Name }}</button>
        </div>
        <div class="hamburger">
            <ul>
                <li class="bar"></li>
                <li class="bar"></li>
                <li class="bar"></li>
            </ul>
        </div>
    </div>
</section>