{% import '_globalVaribalesForNunjucks.njk' as hero5 %}

{# hero5 #}
<div class="hero-5">
    <div class="bg-purple">
        <div class="h1-hero_section">
            <div class="content-section">
                <div class="title light-task">
                    <h2>{{hero5.heroSectionTitle}}</h2>
                </div>
                <div class="body light-task">
                    <p>{{hero5.heroSectionBody}}</p>
                </div>
                <button class="btn btn-black">{{hero5.heroSectionBtnTitle}}</button>
                <div class="sub-body light-task">
                    <span>{{hero5.heroSectionSubBody}}</span>
                </div>
                <div class="testimonial-section testi-h5">
                    <div class="testi-person_img">
                        <img src="{{hero5.heroSectionTestimonialPrimaryProfilePicture}}" alt="person">
                    </div>
                    <div class="testi-content">
                        <div class="testi-body">
                            <p>{{hero5.heroSectionTestimonialBody}}</p>
                        </div>
                        <div class="testi-position">
                            <span>{{hero5.heroSectionTestimonialPost}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image_section">
                <img src="{{hero5.heroSectionPrimaryImg}}" alt="mobile">
            </div>
        </div>
    </div>
</div>