{% import '_globalVaribalesForNunjucks.njk' as hero2 %}

<!-- hero2 section -->
<section class="body">
    <div class="h2-hero_section">
        <div class="content-section">
            <div class="title">
                <h2>{{hero2.heroSectionTitle}}</h2>
            </div>
            <div class="body">
                <p>{{hero2.heroSectionBody}}</p>
            </div>
            <div class="btn_container">
                <button class="btn">{{hero2.heroSectionBtnTitle}}</button>
                <div class="sub-body">
                    <span>{{hero2.heroSectionSubBody}}</span>
                </div>
            </div>
        </div>
        <div class="image_section">
            <img src="{{hero2.heroSectionSecondaryImg}}" alt="mobile">
            <img src="{{hero2.heroSectionTertiaryImg}}" alt="mobile-2">
        </div>
    </div>
</section>