<div class="hero-5">
    <div class="bg-purple">
        <div class="h1-navigation_section">
            <div class="nav-logo">
                <img src="/image/svg/navbar/logo.svg" alt="">
            </div>
            <div class="nav-menu">
                <img src="/image/svg/navbar/hamburger-black.svg" alt="hamburger">
            </div>
        </div>
        <div class="h1-hero_section">
            <div class="content-section">
                <div class="title light-task">
                    <h2>Billing simplified.</h2>
                </div>
                <div class="body light-task">
                    <p>A subheading that addresses the what, the why we should care and hopefully some social proof.</p>
                </div>
                <button class="btn btn-black">Give it a try</button>
                <div class="sub-body light-task">
                    <span>No credit card required.</span>
                </div>
                <div class="testimonial-section testi-h5">
                    <div class="testi-person_img">
                        <img src="/image/png/hero1/hero1-prsn.png" alt="person">
                    </div>
                    <div class="testi-content">
                        <div class="testi-body">
                            <p>“A testimonial that absolutely nails the value proposition in a sentence or two”.</p>
                        </div>
                        <div class="testi-position">
                            <span>Cameron Williamson, CEO, Stripe</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image_section">
                <img src="/image/png/hero1/hero1-mobile.png" alt="mobile">
            </div>
        </div>
    </div>  
</div>