<div class="h1-navigation_section">
    <div class="nav-logo">
        <img src="/image/svg/navbar/logo.svg" alt="">
    </div>
    <div class="nav-menu">
        <img src="/image/svg/navbar/hamburger-black.svg" alt="hamburger">
    </div>
</div>