{% import '_globalVaribalesForNunjucks.njk' as hero12 %}


<!-- hero 12  -->
<section class="body">
    <div class="hero-section">
        <div class="hero-section-title">
            <h2>{{hero12.heroSectionSecondaryTitle}}</h2>
        </div>
        <div class="hero-section-buttons">
            <button class="btn btn1-h11">{{hero12.heroSectionSixthBtnTitle}}</button>
            <button class="btn btn2-h11">{{hero12.heroSectionSixthBtnTitle}}</button>
        </div>
        <div class="hero-section-img">
            <img src="{{hero12.heroSectionFifthImg}}" alt="">
        </div>
    </div>
</section>