<!-- start of navigation -->
{% include "_hero4Darkheader.njk"%}
<!-- end of navigation -->
<!-- hero4 dark version-->
<div class="hero_section-dark">
    <div class="hero_section-content">
        <div class="title">
            <h2>Billing simplified.</h2>
        </div>
        <div class="body">
            <p>A subheading that addresses the what, the why we should care and hopefully some social proof.</p>
        </div>
        <div class="button">
            <button class="btn btn-download_gradient">Download the app</button>
        </div>
        <div class="sub-text">
            <span>No credit card required.</span>
        </div>
        <div class="testimonial-section-light">
            <div class="person-face">
                <img src="/image/png/hero4/cus-1.png" alt="person1">
            </div>
            <div class="customer_content">
                <div class="details">
                    <p>“A testimonial that absolutely nails the value proposition in a sentence or two”.</p>
                </div>
                <div class="position">
                    <span>Cameron Williamson, CEO, Stripe</span>
                </div>
            </div>
        </div>
        <div class="circle-light">
            <img src="/image/png/hero4dark/light-circle.png" alt="circle">
        </div>
    </div>
    <div class="hero_section-img">
        <img src="/image/png/hero4dark/Mobile-dark.png" alt="mobile">
    </div>
</div>

