{% import '_globalVaribalesForNunjucks.njk' as hero10 %}

<!-- hero 10 content -->
<section class="body">
    <div class="h10-hero_section">
        <div class="content-section">
            <div class="title">
                <h2>{{hero10.heroSectionTitle}}</h2>
            </div>
            <div class="body">
                <p>{{hero10.heroSectionBody}}</p>
            </div>
            <button class="btn btn-h10">{{hero10.heroSectionBtnTitle}}</button>
            <div class="sub-body">
                <span>{{hero10.heroSectionSubBody}}</span>
            </div>
            <div class="testimonial-section">
                <div class="testi-person_img">
                    <img src="{{hero10.heroSectionTestimonialPrimaryProfilePicture}}" alt="person">
                </div>
                <div class="testi-content">
                    <div class="testi-body">
                        <p>{{hero10.heroSectionTestimonialBody}}</p>
                    </div>
                    <div class="testi-position">
                        <span>{{hero10.heroSectionTestimonialPost}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="image_section">
            <img src="{{hero10.heroSectionPrimaryImg}}" alt="mobile">
        </div>
    </div>
</section>