<!--navigations  -->
<div class="navigation_section">
    <div class="navbar_logo">
        <img src="/image/svg/navbar/logo.svg" alt="logo">
    </div>
    <div class="navbar_menu">
        <ul class="list">
            <li class="item"><a href="">Industries</a></li>
            <li class="item"><a href="">Product</a></li>
            <li class="item"><a href="">Pricing</a></li>
            <li class="item"><a href="">About</a></li>
        </ul>
    </div>
    <div class="navbar_btn">
        <button class="btn android_app-btn">Android App</button>
        <button class="btn ioS_app-btn">iOS App</button>
    </div>
</div>