<!-- hero1 section -->
<section class="body">
    <div class="h1-hero_section">
        <div class="content-section">
            <div class="title">
                <h2>Billing simplified.</h2>
            </div>
            <div class="body">
                <p>A subheading that addresses the what, the why we should care and hopefully some social proof.</p>
            </div>
            <div class="h3-input">
                <span>Email</span>
                <button>Give it a try</button>
            </div>
            <div class="testimonial-section">
                <div class="testi-person_img">
                    <img src="css/image/png/hero3/person-1.png" alt="person">
                </div>
                <div class="testi-content">
                    <div class="testi-body">
                        <p>“A testimonial that absolutely nails the value proposition in a sentence or two”.</p>
                    </div>
                    <div class="testi-position">
                        <span>Cameron Williamson, CEO, Stripe</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="image_section">
            <img src="css/image/png/hero1/hero1-mobile.png" alt="mobile">
        </div>
    </div>
</section>