

<!-- hero 7 section-->
<div class="h1-hero_section">
    <div class="content-section">
        <div class="title">
            <h2>Billing simplified.</h2>
        </div>
        <div class="body">
            <p>A subheading that addresses the what, the why we should care and hopefully some social proof.</p>
        </div>
        <div class="button-section flex-btn">
            <button class="btn btn-black ios_app">iOS App <img src="/image/svg/navbar/Apple.svg" alt="apple"></button>
            <button class="btn btn-black android_app">Android App <img src="/image/svg/navbar/Android.svg" alt="android"></button>
        </div>
        <div class="sub-body">
            <span>No credit card required.</span>
        </div>
        <div class="testimonial-section">
            <div class="testi-person_img">
                <img src="/image/png/hero7/person1.png" alt="person">
            </div>
            <div class="testi-content">
                <div class="testi-body">
                    <p>“A testimonial that absolutely nails the value proposition in a sentence or two”.</p>
                </div>
                <div class="testi-position">
                    <span>Cameron Williamson, CEO, Stripe</span>
                </div>
            </div>
        </div>
    </div>
    <div class="image_section">
        <img src="/image/png/hero1/hero1-mobile.png" alt="mobile">
    </div>
</div>
