{% include "_hero12darkHeader.njk"%}

{% set title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed."%}
{% set btnName1="Button"%}
{% set btnName2="Button"%}
{% set heroImgPath="/image/png/hero12/hero-img.png"%}

<div class="hero-section-h12-light">
    <div class="h12-title light-task">
        <h2>{{title}}</h2>
    </div>
    <div class="h12-buttons">
        <button class="btn btn-download_gradient">{{btnName1}}</button>
        <button class="btn btn-light">{{btnName2}}</button>
    </div>
    <div class="h12-hero-img">
        <img src="{{heroImgPath}}" alt="">
    </div>
</div>