

<!-- hero1 section -->
<div class="h2-hero_section">
    <div class="content-section">
        <div class="title">
            <h2>Billing simplified.</h2>
        </div>
        <div class="body">
            <p>A subheading that addresses the what, the why we should care and hopefully some social proof.</p>
        </div>
        <div class="btn_container">
            <button class="btn btn-black hero2-btn">Try it free</button>
            <div class="sub-body">
                <span>No credit card required.</span>
            </div>
        </div>
    </div>
    <div class="image_section">
        <img src="/image/png/hero2/Mobile-Mockup.png" alt="mobile">
        <img src="/image/png/hero2/Mobile-Mockup-2.png" alt="mobile-2">
    </div>
</div>