
{% import '_globalVaribalesForNunjucks.njk' as hero1%}
<!-- hero1 section -->
<section class="body">
    <div class="h1-hero_section">
        <div class="content-section">
            <div class="title">
                <h2>{{hero1.heading}}</h2>
            </div>
            <div class="body">
                <p>{{hero1.body}}</p>
            </div>
            <button>{{hero1.btnTitle}}</button>
            <div class="sub-body">
                <span>{{hero1.subBody}}</span>
            </div>
            <div class="testimonial-section">
                <div class="testi-person_img">
                    <img src="{{hero1.testimonialProfilePicture}}" alt="person">
                </div>
                <div class="testi-content">
                    <div class="testi-body">
                        <p>{{hero1.testimonialBody}}</p>
                    </div>
                    <div class="testi-position">
                        <span>{{hero1.testimonialPost}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="image_section">
            <img src="{{hero1.mainImg}}" alt="mobile">
        </div>
    </div>
</section>