{% set logoImgPath="/image/svg/navbar/logo.svg"%}
{% set item1="Industries"%}
{% set item2="Product"%}
{% set item3="Pricing"%}
{% set item4="About"%}
{% set buttonName1="Button"%}
{% set buttonName2="Button"%}

<!-- hero 12 light version -->
<div class="hero_navigation">
    <div class="hero_navigation-logo">
        <img src="{{logoImgPath}}" alt="">
    </div>
    <div class="hero_navigation-menu">
        <ul class="hero-navigation-list">
            <li class="hero-list-item">{{item1}}</li>
            <li class="hero-list-item">{{item2}}</li>
            <li class="hero-list-item">{{item3}}</li>
            <li class="hero-list-item">{{item4}}</li>
        </ul>
    </div>
    <div class="hero_navigation-buttons">
        <button class="btn btn-light-h12">{{buttonName1}}</button>
        <button class="btn btn-dark-h12">{{buttonName2}}</button>
    </div>
</div>