{% import '_globalVaribalesForNunjucks.njk' as hero9 %}

<!-- hero9 -->
<section class="body">
    <div class="hero_section-h9">
        <div class="content-section">
            <div class="title">
                <h2>{{ hero9.heroSectionTitle }}</h2>
            </div>
            <div class="body">
                <p>{{ hero9.heroSectionBody }}</p>
            </div>
            <div class="button_section">
                <button class="btn btn-1">{{hero9.heroSectionFourthBtnTitle}}</button>
                <button class="btn btn-2">{{hero9.heroSectionFifthBtnTitle}}</button>
            </div>
            <div class="light_purple-bg"></div>
        </div>
        <div class="content-section_bottom">
            <img src="{{hero9.heroSectionSecondaryImg}}" alt="">
            <img src="{{hero9.heroSectionTertiaryImg}}" alt="">
        </div>
    </div>
</section>