{% import '_globalVaribalesForNunjucks.njk' as hero4 %}

<!-- hero4 -->
<section class="body">
  <div class="hero_section">
    <div class="hero_section-content">
      <div class="title">
        <h2>{{hero4.heroSectionTitle}}</h2>
      </div>
      <div class="body">
        <p>{{hero4.heroSectionBody}}</p>
      </div>
      <div class="button">
        <button class="btn btn-download">Download the app</button>
      </div>
      <div class="sub-text">
        <span>{{hero4.heroSectionSubBody}}</span>
      </div>
      <div class="testimonial-section">
        <div class="person-face">
          <img src="{{hero4.heroSectionTestimonialTertiaryProfilePicture}}" alt="person1">
        </div>
        <div class="customer_content">
          <div class="details">
            <p>{{hero4.heroSectionTestimonialBody}}</p>
          </div>
          <div class="position">
            <span>{{hero4.heroSectionTestimonialPost}}</span>
          </div>
        </div>
      </div>
      <div class="circle">
        <img src="{{hero4.heroSectionPrimaryCircleImg}}" alt="circle">
      </div>
    </div>
    <div class="hero_section-img">
      <img src="{{hero4.heroSectionSecondaryImg}}" alt="mobile">
    </div>
  </div>
</section>