<!-- light version navigations  -->
<div class="navigation_section-light">
    <div class="navbar_logo">
        <img src="/image/svg/navbar/logo-dark.svg" alt="logo">
    </div>
    <div class="navbar_menu">
        <ul class="list">
            <li class="item">
                <a href="">Industries</a>
            </li>
            <li class="item">
                <a href="">Product</a>
            </li>
            <li class="item">
                <a href="">Pricing</a>
            </li>
            <li class="item">
                <a href="">About</a>
            </li>
        </ul>
    </div>
    <div class="navbar_btn">
        <button class="btn android_app-btn_light">Android App</button>
        <button class="btn ioS_app-btn_light">iOS App</button>
    </div>
    <div class="hamburger">
        <ul>
            <li class="bar"></li>
            <li class="bar"></li>
            <li class="bar"></li>
        </ul>
    </div>
</div>