{% include "_hero11LightHeader.njk"%}
{% set title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed."%}
{% set body="A subheading that addresses the what, the why we should care and hopefully some social proof."%}
{% set buttonName1="Button"%}
{% set buttonName2="Button"%}
{% set heroImageLight="/image/png/hero11/Half-Browser.png"%}
<!-- hero 11 light -->
<div class="hero-section-light">
    <div class="hero-section-title">
        <h2>{{title}}</h2>
    </div>
    <div class="hero-section-body">
        <p>{{body}}</p>
    </div>
    <div class="hero-section-buttons">
        <button class="btn btn-dark-h11">{{buttonName1}}</button>
        <button class="btn btn-light-h11">{{buttonName2}}</button>
    </div>
    <div class="hero-section-img">
        <img src="{{heroImageLight}}" alt="">
    </div>
</div>