{% import '_globalVaribalesForNunjucks.njk' as hero7 %}

<!-- hero 7 section-->
<section class="body">
    <div class="h1-hero_section">
        <div class="content-section">
            <div class="title">
                <h2>{{hero7.heroSectionTitle}}</h2>
            </div>
            <div class="body">
                <p>{{hero7.heroSectionBody}}</p>
            </div>
            <div class="button-section flex-btn">
                <button class="btn btn-black ios_app">iOS App <img src="{{hero7.heroSectionAppleLogo}}"
                        alt="apple"></button>
                <button class="btn btn-black android_app">Android App <img src="{{hero7.heroSectionAndroidLogo}}"
                        alt="android"></button>
            </div>
            <div class="sub-body">
                <span>{{hero7.heroSectionSubBody}}</span>
            </div>
            <div class="testimonial-section">
                <div class="testi-person_img">
                    <img src="{{hero7.heroSectionTestimonialFourthProfilePicture}}" alt="person">
                </div>
                <div class="testi-content">
                    <div class="testi-body">
                        <p>{{hero7.heroSectionTestimonialBody}}</p>
                    </div>
                    <div class="testi-position">
                        <span>{{hero7.heroSectionTestimonialPost}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="image_section">
            <img src="{{hero7.heroSectionPrimaryImg}}" alt="mobile">
        </div>
    </div>
</section>