<!-- var -->
{% set item1="Pricing" %}
{% set item2="Sign in" %}
{% set title="Sign up" %}
{% set placeHolder1="Email" %}
{% set placeHolder2="Password" %}
{% set placeHolder3="Confirm Password" %}
{% set btnName="Continue" %}
{% set bottomText="Have an account?"%}
{% set linkText="Sign in" %}

<!-- img path -->
{% set logoImgPath="css/image/svg/navbar/logo.svg" %}
{% set arrowImgPath="css/image/svg/signUp/arrow.svg" %}


<div class="register-section">
    <div class="signUp-content-section bg-light-purple">
        <div class="signUp-content-section-title">
            <h2>{{title}}</h2>
        </div>
        <div class="input-section">
            <input type="text" placeholder="{{placeHolder1}}">
            <input type="text" placeholder="{{placeHolder2}}">
            <input type="text" placeholder="{{placeHolder3}}">
        </div>

        <div class="submit-btn">
            <button>{{btnName}}<img src="{{arrowImgPath}}" alt=""></button>
        </div>
        <div class="bottom-text">
            <h5>{{bottomText}}<a href="">{{linkText}}</a></h5>
        </div>
    </div>
</div>