<!-- var -->
{% set subTitle="About us"%}
{% set title="Founding Team"%}
{% set body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis metus ultricies quis phasellus. Cras malesuada orci vel tincidunt diam lacus, feugiat lacus commodo."%}
{% set teamMemName1="Jenny Wilson"%}
{% set teamMemPost1="Chief Executive Officer"%}
{% set teamMemName2="Leslie Alexander"%}
{% set teamMemPost2="Chief Information Officer"%}

<!-- img path -->
{% set team1ImgPath="css/image/png/team/team1wide.png"%}
{% set team2ImgPath="css/image/png/team/team2wide.png"%}


<section class="body">
    <div class="team-section-horizontalView">
        <div class="team-content-section">
            <div class="team-content-title">
                <h2>{{title}}</h2>
            </div>
            <div class="team-content-body">
                <p>{{body}}</p>
            </div>
        </div>
        <div class="team-img-grid-section">
            <div class="team-member">
                <img src="{{team1ImgPath}}" alt="">
                <div class="team-member-name">
                    <h4>{{teamMemName1}}</h4>
                </div>
                <div class="team-member-position">
                    <p>{{teamMemPost1}}</p>
                </div>
            </div>
            <div class="team-member">
                <div class="team-member">
                    <img src="{{team2ImgPath}}" alt="">
                    <div class="team-member-name">
                        <h4>{{teamMemName2}}</h4>
                    </div>
                    <div class="team-member-position">
                        <p>{{teamMemPost2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>