{% set page_class = about-us %}
{% extends "template.njk" %}
{% block main %}
  {% include "_aboutUs1.njk"%}
  {% include "_aboutUs1dark.njk"%}
  {% include "_aboutUs2.njk"%}
  {% include "_aboutUs2dark.njk"%}
{% endblock %}