{% set page_class = blog %}
{% extends "template.njk" %}
{% block main %}
  {% include "_blog1.njk"%}
  {% include "_blog2.njk"%}
  {% include "_blog3.njk"%}
  {% include "_blog4.njk"%}
  {% include "_blog5.njk"%}
{% endblock %}