{% set page_class = cta %}
{% extends "template.njk" %}
{% block main %}
  {% include "_cta1.njk"%}
  {% include "_cta1dark.njk"%}
  {% include "_cta2switch.njk"%}
  {% include "_cta2.njk"%}
  {% include "_cta2dark.njk"%}
  {% include "_cta2purple.njk"%}
  {% include "_cta3.njk"%}
  {% include "_cta3dark.njk"%}
  {% include "_cta3purple.njk"%}
{% endblock %}