{% set page_class = hero %}
{% extends "template.njk" %}
{% block main %}
  {% include "_hero1.njk"%}
  {% include "_hero2.njk"%}
  {% include "_hero3.njk"%}
  {% include "_hero4.njk"%}
  {% include "_hero4dark.njk"%}
  {% include "_hero4light.njk"%}
  {% include "_hero4purple.njk"%}
  {% include "_hero5.njk"%}
{% endblock %}