{% set page_class = index %}
{% extends "template.njk" %}
{% block main %}

  <ul class="list">
    <li>
      <a href="hero.html">hero-section</a>
    </li>
    <li>
      <a href="features.html">Features-section</a>
    </li>
    <li>
      <a href="">testimonial-section</a></li>
    <li>
      <a href="">pricing-section</a></li>
    <li>
      <a href="">register-section</a></li>
    <li>
      <a href="signUp.html">signUp-section</a></li>
    <li>
      <a href="cta.html">cta-section</a></li>
    <li>
      <a href="about-us.html">about-section</a></li>
    <li>
      <a href="team.html">team-section</a></li>
    <li>
      <a href="blog.html">blog-section</a></li>
    <li>
      <a href="faq.html">faq-section</a></li>
  </ul>
{% endblock %}