{% set page_class = index %}
{% extends "template.njk" %}
{% block main %}

  {% include "_hero4.njk"%}
  {% include "_hero4dark.njk"%}
  {% include "_hero4light.njk"%}
  {% include "_hero4purple.njk"%}
{% endblock %}