{% set page_class = index %}
{% extends "template.njk" %}
{% block main %}

 <ul class="list">
   <li><a href="hero.html">hero-section</a></li>
   <li><a href="features.html">Features-section</a></li>
   <li><a href=""></a></li>
   <li><a href=""></a></li>
   <li><a href=""></a></li>
 </ul>
{% endblock %}