  {% set page_class = portfolio %}
  {% extends "template.njk" %}
  {% block main %}

  <!-- scroll-progress & goto-top -->
  {% include "_scrollProgress.njk"%}
  <!-- start of navigation -->
  {# {% include "_header.njk"%} #}
  <!-- end of navigation -->


<!-- start of footer -->

  {% include "_footer.njk" %}
  
  <!-- end of footer -->
  {% endblock %}