{% set page_class = blog %}
{% extends "template.njk" %}
{% block main %}
  {% include "_team1.njk"%}
  {% include "_team1Dark.njk"%}
  {% include "_team1purple.njk"%}
  {% include "_team2.njk"%}
  {% include "_team2Dark.njk"%}
  {% include "_team2Purple.njk"%}
  {% include "_team3.njk"%}
  {% include "_team3Dark.njk"%}
  {% include "_team3purple.njk"%}
{% endblock %}