{% set page_class = testimonial %}
{% extends "template.njk" %}
{% block main %}
  {% include "_testimonial1.njk"%}
  {% include "_testimonial2.njk"%}
  {% include "_testimonial3.njk"%}
{% endblock %}