$hero1-bgColor: #ffffff;
$hero1-textColor: #000000;
$hero1-btn-bgColor: #000000;
$hero1-btn-textColor: #ffffff;
$hero1-testimonial-bgColor: #faf9ff;
$hero1-testimonial-textColor: #000000;
$hero1-testimonial-postTextColor: #000000;
$hero1-imgSection-bgColor: linear-gradient(90deg, #efecff 0%, #c4b8ff 100%);

$hero2-bgColor: #ffffff;
$hero2-titleColor: #000000;
$hero2-textColor: #000000;
$hero2-btn-bgColor: #000000;
$hero2-btn-textColor: #ffffff;
$hero2-imgSection-bgColor: linear-gradient(90deg, #efecff 0%, #c4b8ff 100%);

$hero3-input-borderColor: #000;
$hero3-input-textColor: #000;

$hero4-bgColor: #7B61FF;
$hero4-titleColor: #FFFFFF;
$hero4-body-textColor: #FFFFFF;
$hero4-btn-bgColor: #000000;
$hero4-btn-textColor: #FFFFFF;
$hero4-span-textColor: #FFFFFF;
$hero4-testi-borderColor: #FFFFFF;
$hero4-testi-bgColor: #7B61FF;
$hero4-textColor: #fff;

$hero5-bgImg: url('/image/png/hero5/bg-h5.png');
$hero5-bgColor: #7B61FF;
$hero5-imgSection-bgColor: transparent;
$hero5-testi-bgColor: transparent;

$hero6-bgColor: #fff;
$hero6-titleColor: #000000;
$hero6-body-textColor: #000000;
$hero6-btn-bgColor: #000000;
$hero6-btn-textColor: #FFFFFF;

$hero9-content-bgColor: linear-gradient(90deg, #EFECFF 0%, #C4B8FF 100%);
$hero9-title-color: #000000;
$hero9-body-textColor: #000000;
$hero9-btn1-borderColor: #000000;
$hero9-btn1-bgColor: #000000;
$hero9-btn1-textColor: #fff;
$hero9-btn2-borderColor: #000000;
$hero9-btn2-bgColor: #FFFFFF;
$hero9-btn2-textColor: #000000;
$hero9-lightPurple-bg:rgba(255, 255, 255, 0.7);

$hero10-bgColor: #fff;
$hero10-titleColor: #000;
$hero10-body-textColor: #000000;
$hero10-btn-borderColor: #000000;
$hero10-btn-bgColor: #000000;
$hero10-btn-textColor: #fff;

$hero11-bgColor: #7B61FF;
$hero11-titleColor: #FFFFFF;
$hero11-body-textColor: #FFFFFF;
$hero11-btn1-bgColor: linear-gradient(90deg, #EFECFF 0%, #C4B8FF 100%);
$hero11-btn1-textColor: #000;
$hero11-btn1-borderColor: linear-gradient(90deg, #EFECFF 0%, #C4B8FF 100%);
$hero11-btn2-bgColor: #000;
$hero11-btn2-textColor: #fff;
$hero11-btn2-borderColor: #fff;

$hero12-bgColor: #7B61FF;
$hero12-titleColor: #FFFFFF;
$hero12-btn1-bgColor: #000000;
$hero12-btn1-textColor: #fff;
$hero12-btn1-borderColor: #000000;
$hero12-btn2-bgColor: #7B61FF;
$hero12-btn2-textColor: #fff;
$hero12-btn2-borderColor: #fff;


@import '../../themed/hero-style.scss';
