.about-us {
  width: 90em;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 100px;
  background-color: $aboutUs-bgColor;
  .about-us-content {
    display: flex;
    flex-direction: row;
    gap: 33px;
    justify-content: center;
    .about-us-title {
      width: 460px;
      height: 62px;
      .about-us-subText {
        width: 85px;
        h5 {
          text-transform: uppercase;
          color: $aboutUs-textColor;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 1px;
          text-align: left;
        }
      }
    }
    .about-us-body {
      width: 555px;
      height: 81px;
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $aboutUs-textColor;
      }
    }
  }
  .about-us-img-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 114px;
  }
}


