.wide-card {
  width: 558px !important;
  height: 568px !important;
}
.wide-area {
  width: 476px !important;
}
.blog-section {
  margin: auto;
  width: 327px;
  @include mobile-lg {
    width: 668px;
  }
  @include desktops {
    width: 70.5em;
  }
  @include large-desktops-mid {
    width: 90em;
  }
  padding-top: 5.625em;
  background: $blog1-bgColor;
  &-title-track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    @include desktops {
      gap: 36.8125em;
      flex-direction: row;
    }
    .title {
      &-button {
        align-self: flex-start;
        @include desktops {
          align-self: center;
        }
        button {
          height: 52px;
          width: 180px;
          left: 1113px;
          top: 90px;
          border: 1px solid $blog2-btn-border-color;
          border-radius: 0px;
          padding: 16px, 23px, 16px, 32px;
          background: $blog2-btn-bgColor;
          img {
            width: 18px;
            height: 14px;
            margin-left: 12px;
          }
        }
      }
      color: $blog2-title-color;
    }
  }
  &-title {
    margin: auto;
    width: 327px;
    @include mobile-lg {
      width: 668px;
    }
    @include desktops {
      width: 680px;
    }
    h2 {
      font-size: 32px;
      line-height: 38px;
      @include mobile-lg {
        font-size: 50px;
        line-height: 59px;
      }
      text-align: center;
      color: $blog1-titleColor;
    }
  }
  &-card-list {
    display: flex;
    flex-direction: row;
    gap: 1.875em;
    justify-content: flex-start;
    padding-top: 3.3125em;
    overflow-x: scroll;
    overflow-y: hidden;
    @include desktops {
      overflow-x: hidden;
      justify-content: center;
    }
    &-item {
      background: $blog1-card-bgColor;
      height: 556px;
      width: 362px;
      &-img {
        .brand-icon {
          position: relative;
          top: -239px;
          left: 264px;
        }
        .wide-brand-icon {
          @extend .brand-icon;
          left: 446px;
        }
      }
      &-title {
        padding-left: 32px;
        margin-bottom: 14px;
        h4 {
          width: 322px;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
          color: $blog1-cardTitle-color;
        }
      }
      &-body {
        padding-left: 32px;
        margin-bottom: 14px;
        p {
          width: 300px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: $blog1-cardBody-textColor;
        }
      }
      .sub-text {
        margin-top: 22px;
        padding-left: 32px;
        display: flex;
        flex-direction: row;
        gap: 200px;
        span {
          font-size: 16px;
          font-weight: 600;
          color: $blog1-textColor;
        }
      }
      .wide-sub-text {
        @extend .sub-text;
        gap: 365px;
      }
    }
  }
}
