.contact-section {
  width: 90em;
  margin: auto;
  text-align: center;
  padding-top: 66px;
  margin-bottom: 100px;
  .locationImg {
    width: 213px;
    position: relative;
    top: -30.5625em;
    left: -23.75em;
  }
  .locationPointImg {
    width: 56px;
    position: relative;
    top: -18.5625em;
    right: 1.75em;
  }
  .contact-intro-text {
    width: 70.3125em;
    margin: auto;
    text-align: left;
    text-align: left;
    P {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: -1.10758638381958px;
      text-align: left;
    }
  }
  .contact-content {
    width: 70.3125em;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    text-align: left;
    gap: 10px;
    &-form {
      input {
        width: 460px;
        height: 60px;
      }
      input[type="text" i] {
        padding-left: 20px;
      }
      .contact-details {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        input {
          width: 225px;
        }
      }
      textarea {
        padding-top: 16.2px;
        padding-left: 20px;
      }
      .submit-btn {
        margin-top: 32px;
        button {
          height: 60px;
          width: 179px;
          border: 1px solid #235af9;
          border-radius: 4px;
          padding: 14px, 43px, 14px, 43px;
          background-color: #235af9;
          color: #fff;
        }
      }
    }
    &-address {
      width: 270px;
      margin-left: 110px;
      .title {
        h2 {
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 54px;
          letter-spacing: -1.4613800048828125px;
          text-align: left;
        }
      }
      .body {
        width: 160px;
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 200;
          line-height: 38px;
          letter-spacing: -1.10758638381958px;
          text-align: left;
        }
      }
    }
    .contact-us-section {
      width: 270px;
      .title {
        h2 {
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 54px;
          letter-spacing: -1.4613800048828125px;
          text-align: left;
        }
      }
      .body {
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 200;
          line-height: 38px;
          letter-spacing: -1.10758638381958px;
          text-align: left;
        }
      }
    }
    &-text {
      width: 627px;
      .title {
        text-align: left;
        h2 {
          font-size: 80px;
          font-style: normal;
          font-weight: 400;
          line-height: 110px;
          letter-spacing: -3.158620595932007px;
          text-align: center;
        }
      }
      .address-menu {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        &-item {
          display: flex;
          flex-direction: column;
          gap: 13px;
          .city-name {
            h4 {
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 38px;
              letter-spacing: -1.10758638381958px;
              text-align: left;
            }
          }
          .city-full-address {
            width: 144px;
            p {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: -0.8306897878646851px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.wide-section {
  width: 90em !important  ;
  margin: auto !important;
  gap: 120px !important;
}
