.cta-section {
  margin: auto;
  width: 327px;
  height: 506px;
  @include mobile-lg {
    width: 668px;
    height: 487px;
  }
  @include desktops {
    width: 70.5em;
  }
  @include large-desktops-mid {
    width: 90em;
  }
  background: $cta-bgColor;
  margin-top: 90px;
  padding-top: 90px;
  margin-bottom: 100px;
  &-content {
    .subtitle {
      width: 13.875em;
      margin: auto;
      text-align: center;
      h5 {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        font-weight: 400;
        text-align: center;
        color: $cta-subTitleColor;
        margin-bottom: 16px;
      }
    }
    .title {
      margin: auto;
      width: 327px;
      @include mobile-lg {
        width: 668px;
      }
      @include desktops {
        width: 50.1875em;
      }
      text-align: center;
      margin-bottom: 16px;
      h2 {
        font-size: 32px;
        line-height: 38px;
        @include mobile-lg {
          font-size: 50px;
          line-height: 59px;
        }
        letter-spacing: 0em;
        text-align: center;
        color: $cta-titleColor;
      }
    }
    .body {
      margin: auto;
      width: 327px;
      @include mobile-lg {
        width: 36.75em;
      }
      text-align: center;
      margin-bottom: 32px;
      P {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $cta-bodyColor;
      }
    }
  }
  &-button {
    text-align: center;
    button {
      height: 52px;
      width: 192px;
      left: 624.5px;
      top: 436px;
      border: none;
      padding: 16px, 32px, 16px, 32px;
      background: $cta-btnBgColor;
      color: $cta-btnTextColor;
    }
  }
  .background-img {
    text-align: right;
    img {
      position: relative;
      top: -17.4375em;
    }
  }
}

// dark version cta
.light-white-text {
  color: #ffffffbf !important;
}

// cta 2
.cta-main-section {
  margin: auto;
  width: 327px;
  display: flex;
  flex-direction: column;
  padding-top: 5.625em;
  padding-bottom: 5.625em;
  gap: 6em;
  @include mobile-lg {
    width: 668px;
  }
  @include desktops {
    width: 70.5em;
    flex-direction: row;
    justify-content: center;
    gap: 8em;
  }
  @include large-desktops-mid {
    width: 90em;
  }
  background: $cta2-bgColor;
  .cta-main-img-section {
    img {
      width: 327px;
      @include mobile-lg {
        width: 586px;
      }
    }
    order: 2;
    @include desktops {
      order: 1;
    }
  }
  .cta-main-content-section {
    align-self: flex-start;
    order: 1;
    @include mobile-lg {
      padding-left: 33px;
    }
    @include desktops {
      order: 2;
      align-self: center;
    }
    .top-button {
      margin-bottom: 24px;
      button {
        height: 34px;
        width: 87px;
        border: 1px solid $cta2-topBtn-bgColor;
        border-radius: 104px;
        padding: 8px, 24px, 8px, 24px;
        background: $cta2-topBtn-bgColor;
        color: $cta2-topBtn-TextColor;
      }
    }
    .title {
      width: 327px;
      @include mobile-lg {
        width: 388px;
      }
      h2 {
        font-size: 32px;
        line-height: 38px;
        @include mobile-lg {
          font-size: 42px;
          line-height: 49px;
        }
        letter-spacing: 0em;
        text-align: left;
        color: $cta2-textColor;
      }
    }
    .down-btn {
      margin-top: 48px;
      button {
        height: 52px;
        width: 192px;
        left: 0px;
        top: 204px;
        border: none;
        padding: 16px, 32px, 16px, 32px;
        background: $cta2-bottomBtn-bgColor;
        color: $cta2-bottomBtn-TextColor;
      }
    }
  }
}

// bg light purple
.bg-light-purple {
  background: linear-gradient(90deg, #efecff 0%, #c4b8ff 100%);
}

// cta 3
.cta-main {
  margin: auto;
  width: 327px;
  @include mobile-lg{
    width: 668px;
  }
  @include desktops{
    width: 70.5em;
  }
  @include large-desktops-mid{
    width: 90em;
  }
  padding-top: 90px;
  &-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    &-title {
      margin: auto;
      width: 327px;
      @include mobile-lg{
        width: 35.875em;
      }
      h2 {
        font-size: 32px;
        line-height: 38px;
        @include mobile-lg{
          font-size: 50px;
          line-height: 59px;
        }
        letter-spacing: 0em;
        text-align: center;
      }
    }
    &-body {
      margin: auto;
      width: 327px;
      @include mobile-lg{
        width: 35.875em;
      }
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
    &-button {
      margin: 16px;
      button {
        height: 52px;
        width: 176px;
        left: 191px;
        top: 174px;
        border-radius: 0px;
        padding: 16px, 32px, 16px, 32px;
        border: none;
        font-weight: 500;
        img {
          margin-left: 13px;
        }
      }
    }
  }
  &-background-img {
    margin-left: 58px;
  }
}
