//  features 1
.features-section {
  margin: auto;
  display: flex;
  width: 327px;
  padding-top: 121px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 128px;
  margin-bottom: 100px;
  background: $feature1-bgColor;
  @include desktops {
    flex-direction: row;
    gap: 80px;
  }
  .feature-img {
    height: 328.0916748046875px;
    width: 327px;
    background: $feature1-img-bgColor;
    @include mobile-lg {
      width: 586px;
      height: 528.0916748046875px;
    }
    img {
      position: relative;
      width: 321.28904724121094px;
      top: -56px;
      left: 12px;
      z-index: 999;
      overflow: hidden;
      @include mobile-lg {
        width: 500px;
        left: 56px;
      }
      @include desktops {
        left: 4px;
      }
    }
  }
  .feature-content {
    &-title {
      margin: auto;
      width: 327px;
      @include mobile-lg {
        width: 586px;
      }
      h2 {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: $feature1-title-color;
        @include mobile-lg {
          font-size: 50px;
          line-height: 59px;
        }
      }
    }
    &-body {
      margin: auto;
      margin-top: 32px;
      width: 327px;
      @include mobile-lg {
        margin-left: 0;
        width: 455.6190490722656px;
      }

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $features2-text-color;
      }
    }
    &-services {
      margin-top: 3em;
      &-list {
        padding-inline-start: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 23px;
        margin-bottom: 48px;
        @include mobile-lg {
          gap: 45px;
        }
        &-item {
          display: flex;
          flex-direction: row;
          gap: 16px;
          align-items: center;
          justify-content: left;
          color: $feature1-item-textColor;
          @include mobile-lg {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            gap: 20px;
          }
          img {
            width: 48px;
            height: 48px;
            align-items: center;
            @include mobile-lg {
              width: 80px;
              height: 60px;
            }
          }
        }
      }
    }
    &-button {
      button {
        height: 55px;
        width: 327px;
        top: 370px;
        border-radius: 100px;
        background: $feature1-btn-bgColor;
        color: $feature1-btn-textColor;
        @include mobile-lg {
          width: 240px;
          font-size: 16px;
          border-radius: 0px;
        }
      }
    }
  }
}

// features 2
.feature-content-service-card {
  margin: auto;
  width: 327px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: $feature2-card-bgColor;
  @include mobile-lg {
    gap: 89px;
    width: 536px;
    flex-direction: row;
  }
  &-item {
    width: 183.23809814453125px;
    margin-top: 57.61px;
    &-icon {
      margin-bottom: 15.85px;
    }
    &-title {
      margin-bottom: 15.85px;
    }
    &-body {
      margin-bottom: 59.8px;
    }
  }
}

// feature 3
.feature-section-column-view {
  margin: auto;
  width: 327px;
  margin: auto;
  padding-top: 120px;
  margin-bottom: 100px;
  background: $feature3-bgColor;
  @include mobile-lg {
    width: 586px;
  }
  @include desktops {
    padding-left: 54px;
    width: 70.5em;
  }
  @include large-desktops-mid {
    padding-left: 147px;
    width: 90em;
  }
  &-text-content {
    margin-bottom: 66px;
    &-title {
      width: 327px;
      @include mobile-lg {
        width: 586px;
      }
      @include desktops {
        width: 721px;
      }
      h2 {
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: left;
        color: $feature3-textColor;
      }
    }
    &-body {
      margin-top: 18px !important;
      width: 327px;
      @include mobile-lg {
        width: 562px;
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $feature3-textColor;
      }
    }
  }
  &-list-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mobile-lg {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktops {
      gap: 38px;
    }
    @include large-desktops-mid {
      gap: 100px;
    }
    &-item {
      width: 350px;
      @include mobile-lg {
        width: 281px;
      }
      @include desktops {
        width: 300px;
      }
      &-icon {
        margin-bottom: 16px;
      }
      &-title {
        margin-bottom: 16px;
        h5 {
          color: $feature3-textColor;
        }
      }
      &-body {
        width: 300px;
      }
    }
  }
}

// feature 4
.m-top {
  @include desktops{
    margin-top: 200px !important;
  }
}
.g-30 {
  gap: 30px !important;
}
.card-item-width {
  width: 350px !important;
  @include mobile-lg {
    width: 281px !important;
  }
  @include desktops {
    width: 300px !important;
  }
}
.title-width {
  width: 327px !important;
  @include mobile-lg {
    width: 586px !important;
  }
  @include desktops {
    width: 721px !important;
  }
}
.body-width {
  width: 327px !important;
  @include mobile-lg {
    width: 562px !important;
  }
}
.card-width {
  width: 696px !important;
}
.left-padding {
  padding-left: 121px !important;
  gap: 0 !important;
}

// feature 5
.position-center {
  margin: auto !important;
  text-align: center !important;
}
