//  features 1
.features-section {
  display: flex;
  padding-top: 121px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 128px;
  margin-bottom: 100px;
  background: $feature1-bgColor;
  @include mobile {
    width: 327px;
    flex-direction: column;
  }
  .feature-img {
    width: 558px;
    height: 557.87px;
    background: $feature1-img-bgColor;
    img {
      position: relative;
      width: 526px;
      top: -56px;
      left: 12px;
      z-index: 999;
      overflow: hidden;
    }
  }
  .feature-content {
    &-title {
      width: 496px;
      h2 {
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: left;
        color: $feature1-title-color;
      }
    }
    &-body {
      margin-top: 32px;
      width: 455.6190490722656px;

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $features2-text-color;
      }
    }
    &-services {
      margin-top: 3em;
      &-list {
        padding-inline-start: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 23px;
        margin-bottom: 48px;
        &-item {
          display: flex;
          flex-direction: row;
          gap: 16px;
          align-items: center;
          justify-content: left;
          color: $feature1-item-textColor;
          img {
            width: 48px;
            height: 48px;
            align-items: center;
          }
        }
      }
    }
    &-button {
      button {
        height: 52px;
        width: 192px;
        border-radius: 0px;
        padding: 16px, 32px, 16px, 32px;
        background: $feature1-btn-bgColor;
        color: $feature1-btn-textColor;
      }
    }
  }
}

// features 2
.feature-content-service-card {
  width: 536px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 89px;
  background: $feature2-card-bgColor;
  &-item {
    width: 183.23809814453125px;
    margin-top: 57.61px;
    &-icon {
      margin-bottom: 15.85px;
    }
    &-title {
      margin-bottom: 15.85px;
    }
    &-body {
      margin-bottom: 59.8px;
    }
  }
}

// feature 3
.feature-section-column-view {
  width: 1440px;
  margin: auto;
  padding-top: 120px;
  padding-left: 147px;
  margin-bottom: 100px;
  background: $feature3-bgColor;
  &-text-content {
    margin-bottom: 66px;
    &-title {
      width: 721px;
      h2 {
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: left;
        color: $feature3-textColor;
      }
    }
    &-body {
      margin-top: 18px !important;
      width: 562px;
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $feature3-textColor;
      }
    }
  }
  &-list-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    &-item {
      width: 350px;
      &-icon {
        margin-bottom: 16px;
      }
      &-title {
        margin-bottom: 16px;
        h5{
          color: $feature3-textColor;
        }
      }
      &-body {
        width: 300px;
      }
    }
  }
}

// feature 4
.m-top {
  margin-top: 200px !important;
}
.g-30 {
  gap: 30px !important;
}
.card-item-width {
  width: 300px !important;
}
.title-width {
  width: 768px !important ;
}
.body-width {
  width: 600px !important;
}
.card-width {
  width: 696px !important;
}
.left-padding {
  padding-left: 121px !important;
  gap: 0 !important;
}

// feature 5
.position-center {
  margin: auto !important;
  text-align: center !important;
}
