.body {
  width: 100%;
  background: $header2-bgColor;
  padding-bottom: 100px;
}
// 4header
.navigation_section {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 195px;
  padding-top: 38.04px;
  width: 280px;
  padding-left: 0;
  @include mobile-lg {
    width: 45.75em;
  }
  @include desktops {
    width: 70.5em;
  }
  @include large-desktops-mid {
    width: 90em;
    gap: 234px;
  }
  &-dark {
    @extend .navigation_section;
    background: #000;
  }
  &-light {
    @extend .navigation_section;
    background: $Background;
  }
  &-purple {
    @extend .navigation_section;
    background: $Highlight-2;
    color: #fff;
  }
  .navbar_logo {
    height: 53.92355728149414px;
    width: 100%;
    background: $header2-logoImg;
    background-repeat: no-repeat;
  }
  .navbar_menu {
    display: none;
    .list {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-top: 12px;
      gap: 48px;
      .item {
        align-self: center;
        a {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: right;
          color: $header2-colorText;
        }
      }
    }
    @include desktops {
      display: block;
    }
  }
  .navbar_btn {
    display: none;
    @include desktops {
      display: block;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-top: 8px;
    }
    .android_app-btn,
    .ioS_app-btn {
      width: 138px;
      height: 40px;
      border: 2px solid $header2-btn-borderColor;
      box-sizing: border-box;
      background: $header2-btn-bgColor;
      color: $header2-btn-textColor;
      &_light {
        @extend .android_app-btn;
        border: 2px solid #000;
        background: #fff;
        color: #000;
      }
      &_purple {
        @extend .android_app-btn;
        border: 2px solid #fff;
        background: $Highlight-2;
        color: #fff;
      }
      &_dark {
        @extend .android_app-btn;
        border: 2px solid #fff;
        background: #000;
        color: #fff;
      }
    }
    .ioS_app-btn {
      width: 105px;
      &_light {
        width: 105px;
        border: 2px solid #000;
        background: #fff;
        color: #000;
      }
      &_purple {
        width: 105px;
      }
    }
  }
  .hamburger {
    width: 30px;
    height: 30px;
    padding-top: 12px;
    @include desktops {
      display: none;
    }
    ul {
      padding-inline-start: 0px;
      list-style: none;
    }
    .bar {
      width: 20px;
      height: 4px;
      border-radius: 20px;
      background: $header2-barColor;
      @include desktops {
        display: none;
      }
      &:nth-child(1) {
        width: 35px;
        margin-bottom: 8px;
        @include desktops{
          display: none;
        }
      }
      &:nth-child(2) {
        width: 35px;
        margin-bottom: 8px;
        @include desktops {
          display: none;
        }
      }
      &:nth-child(3) {
        position: relative;
        width: 20px;
        left: 13px;
        @include desktops {
          display: none;
        }
      }
    }
    .bar-light {
      background-color: #fff !important;
    }
  }
}

// hero1
.h1-navigation_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 280px;
  margin: auto;
  justify-content: space-around;
  padding-top: 40.03px;
  gap: 70%;
  @include mobile-lg {
    width: 48.75em;
  }
  @include desktops {
    width: 70.5em;
  }
  @include large-desktops-mid {
    width: 90em;
    padding-top: 2.3775em;
    background: $header1-bgColor;
  }
  .nav-logo {
    align-self: flex-start;
    background-image: $header1-logoImg;
    background-repeat: no-repeat;
    height: 53.92px;
    width: 53.91px;
  }
  .nav-menu {
    align-self: center;
    background-image: $header1-hamburgerImg;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
  }
}

// hero 7
.ios_app {
  width: 151px;
  @include mobile {
    width: 327px;
    height: 52px;
  }
}

// header 4 
.header4-section {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 24%;
  @include large-desktops-mid{
    width: 90em;
  }
  .hero-nav-menu-lightmode {
    .hero-nav-list-lightmode {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-self: center;
      gap: 48px;
      .hero-nav-item-lightmode {
        a {
          color: #000;
        }
      }
    }
  }
  .hero-nav-buttons-lightmode {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}



// hero 11 purple


// hero 12 light version
.hero_navigation {
  width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 26%;
  padding-top: 53px;
  .hero_navigation-menu {
    .hero-navigation-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 48px;
      padding-left: 75%;
      padding-top: 15px;
    }
  }
  .hero_navigation-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    button {
      width: 97px;
    }
    .btn-light-h12 {
      width: 97px;
      border: 2px solid #000;
    }
    .btn-dark-h12 {
      background-color: #000;
      color: #fff;
    }
  }
}

// hero 12 dark version
.hero_navigation-light {
  @extend .hero_navigation;
  background-color: #000;
  padding-left: 60px;
  padding-right: 50px;
  .hero_navigation-menu-light {
    .hero-navigation-list-light {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 48px;
      padding-left: 70%;
      padding-top: 15px;
      .hero-list-item-light {
        color: #fff;
      }
    }
  }
  .hero_navigation-buttons-light {
    display: flex;
    flex-direction: row;
    gap: 15px;
    button {
      width: 97px;
    }
    .btn-light-h12Light {
      width: 97px;
      border: 2px solid #fff;
      color: #fff;
    }
    .btn-dark-h12Light {
      background: linear-gradient(90deg, #efecff 0%, #c4b8ff 100%);
      color: #000;
    }
  }
}

// purple version of header 12
.hero_navigation-purple {
  @extend .hero_navigation;
  background-color: $Highlight-2;
  padding-left: 60px;
  padding-right: 50px;
  .hero_navigation-list-purple {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-left: 70%;
    padding-top: 15px;
    .hero-list-item-purple {
      color: #fff;
    }
  }
  .hero_navigation-buttons-purple {
    display: flex;
    flex-direction: row;
    gap: 15px;
    button {
      width: 97px;
      height: 40px;
    }
    .btn-light-h12Purple {
      border: 2px solid #fff;
      color: #fff;
    }
    .btn-dark-h12Purple {
      background-color: #000;
      color: #fff;
    }
  }
}
