
// hero4header
.navigation_section {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 234px;
  padding-top: 38.04px;
  padding-left: 147px;
  background: $gradient-7;
  &-dark{
    @extend .navigation_section;
    background: #000 ;
  }
  &-light{
    @extend .navigation_section;
    background: $Background;
  }
  &-purple{
    @extend .navigation_section;
    background: $Highlight-2;
    color: #fff;
  }
  .navbar_menu {
    .list {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-top: 12px;
      gap: 48px;
      .item {
        align-self: center;
        a {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: right;
          color: $Headlines;
        }
      }
    }
  }
  .navbar_btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 8px;
    .android_app-btn,
    .ioS_app-btn {
      width: 138px;
      height: 40px;
      border: 2px solid #000;
      box-sizing: border-box;
      &_light{
        @extend .android_app-btn;
        border: 2px solid #fff;
        background: #000;
        color: #fff;
      }
      &_purple{
        @extend .android_app-btn;
        border: 2px solid #fff;
        background: $Highlight-2;
        color: #fff;
      }
    }
    .ioS_app-btn {
      width: 105px;
      &_light{
        width: 105px;
      }
      &_purple{
        width:  105px;
      }
    }
  }
}
