// color var
$background-color: #fff;
$background-color-dark: #000;
$background-color-purple: #7b61ff;
$text-color: #000;
$text-color-light: #fff;
$gradient-purple: linear-gradient(
  90deg,
  #7b61ff 0%,
  #b7a9ff 0.01%,
  #7b61ff 100%
);
$gradient-purple-light: linear-gradient(90deg, #efecff 0%, #c4b8ff 100%);

// team 1
.team-section {
  margin: auto;
  width: 327px;
  display: flex;
  flex-direction: column;
  @include mobile-lg {
    width: 668px;
  }
  @include desktops {
    width: 70.5em;
    flex-direction: row;
    padding-top: 90px;
  }
  @include large-desktops-mid {
    width: 90em;
  }
  justify-content: center;
  padding-bottom: 90px;
  gap: 128px;
  background: $team1-bgColor;
  .team-content-section {
    width: 327px;
    align-self: center;
    @include mobile-lg {
      width: 460px;
      align-self: flex-start;
    }
    .team-content-subTitle {
      margin-bottom: 24px;
      span {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-align: left;
        color: $team1-subTitle-textColor;
        text-transform: uppercase;
      }
    }
    .team-content-title {
      margin-bottom: 24px;
      h2 {
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: left;
        color: $team1-textColor;
      }
    }
    .team-content-body {
      margin-bottom: 48px;
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $team1-textColor;
      }
    }
    .team-content-button {
      button {
        width: 184px;
        height: 52px;
        background: $team1-btn-bgColor;
        border: 1px solid $team1-btn-borderColor;
        color: $team1-btn-textColor;
        img {
          width: 18.33px;
          height: 14.02px;
          margin-left: 14px;
        }
      }
    }
  }
  .team-img-grid-section {
    width: 327px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    @include mobile-lg {
      width: 559px;
    }
    .team-member {
      width: 259px;
      height: 264px;
      background: $team1-teamGrid-bgColor;
      p {
        width: 191px;
        height: 48px;
        padding-top: 109px;
        padding-left: 62px;
        text-align: center;
        color: $team1-teamGrid-textColor;
      }
    }
  }
}

// team 2
.team-section-horizontalView {
  margin: auto;
  width: 327px;
  @include mobile-lg {
    width: 668px;
  }
  @include desktops {
    width: 70.5em;
  }
  @include large-desktops-mid {
    width: 90em;
  }
  padding-top: 94px;
  background: $team2-bgColor;
  .team-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 92px;
    @include mobile-lg {
      flex-direction: row;
      gap: 138px;
    }
    .team-content-title {
      width: 327px;
      @include mobile-lg {
        height: 62px;
        width: 460px;
      }
      h2 {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: $team2-titleColor;
        @include mobile-lg {
          font-size: 50px;
          line-height: 59px;
        }
      }
    }
    .team-content-body {
      width: 327px;
      @include mobile-lg {
        width: 555px;
        height: 81px;
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $team2-textColor;
      }
    }
  }
  .team-img-grid-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    @include desktops {
      width: 70.5em;
      justify-content: center;
      overflow-x: hidden;
    }
    @include large-desktops-mid{
      width: 90em;
    }
    .team-member {
      &-name {
        margin-top: 28px;
        h4 {
          color: $team2-textColor;
        }
      }
      &-position {
        p {
          color: $team2-textColor;
        }
      }
    }
  }
}

// team 2 dark
.bg-dark {
  background: #000 !important;
}
.light-text {
  color: #fff !important;
}

// team 2 purple
.bg-purple {
  background: #7b61ff;
}
