.column-1,
.column-3 {
  @include desktops {
    padding-top: 13.5em;
  }
}
.testimonial-section {
  margin: auto;
  width: 327px;
  padding-top: 48px;
  @include mobile-lg {
    width: 668px;
  }
  @include desktops {
    padding-top: 90px;
    width: 70.5em;
  }
  @include large-desktops-mid {
    width: 90em;
  }
  background: $testimonial-bgColor;
  .testimonial-intro {
    margin-bottom: 16px;
    @include mobile-lg {
      margin-bottom: 19px;
    }
    h5 {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      @include mobile-lg {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        font-weight: 400;
      }
      text-align: center;
      color: $testimonial-intro-textColor;
    }
  }
  .testimonial-title {
    margin-bottom: 32px;
    @include mobile-lg {
      margin-bottom: 68px;
    }
    h2 {
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      @include mobile-lg {
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0em;
      }
      color: $testimonial-title-textColor;
    }
  }
  .testimonial-customer-section {
    margin: auto;
    width: 327px;
    display: flex;
    flex-direction: column;
    @include mobile-lg {
      width: 668px;
    }
    @include desktops {
      width: 70.5em;
      flex-direction: row;
    }
    @include large-desktops-mid {
      width: 90em;
    }
    justify-content: center;
    gap: 30px;
    .customer-review-column {
      width: 327px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include desktops {
        width: 362px;
        gap: 30px;
      }
      .customer-card {
        display: flex;
        flex-direction: row;
        gap: 14px;
        background: $testimonial-customerCard-bgColor;
        padding: 20px;
        .customer-content {
          display: flex;
          flex-direction: column;
          gap: 15px;
          &-body {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
            color: $testomonial-textColor;
          }
          &-position {
            p {
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 17px;
              text-align: left;
              color: $testimonial-post-textColor;
            }
          }
        }
      }
      .customer-video-card {
        height: 432px;
        @include desktops{
          height: 500px;
        }
        .video-img {
          width: 327px;
          @include desktops {
            width: 362px;
          }
        }
        .customer-background-img {
          .play-icon {
            img {
              position: relative;
              z-index: 9999;
              top: -260px;
              left: 150px;
            }
          }
          .customer-intro-text {
            p {
              width: 307px;
              position: relative;
              top: -120px;
              left: 32px;
              @include desktops {
                width: 327px;
              }
              color: $testimonial-cusIntro-textColor;
            }
          }
        }
      }
    }
  }
}
