$testimonial-bgColor: #fff;
$testimonial-intro-textColor: #7B61FF;
$testimonial-title-textColor: #000000;
$testimonial-customerCard-bgColor: #FAF9FF;
$testomonial-textColor: #000000;
$testimonial-post-textColor: #0000008e;
$testimonial-cusIntro-textColor: #FFFFFF;

@import '../../themed/testimonial-style.scss';