$signUp-bgColor: #7B61FF;
$signUp-form-bgColor: #fff;
$signUp-TextColor: #000000;
$signUp-btn-bgColor: #000000;
$signUp-btn-textColor: #FFFFFF;
$signUp-input-borderColor: #000000;

@import '../../themed/signUp-style.scss';