$blog1-bgColor: #FFFFFF;
$blog1-titleColor: #000000;
$blog1-card-bgColor: #FAF9FF;
$blog1-cardTitle-color: #000000;
$blog1-cardBody-textColor: #000000;
$blog1-textColor: #000000;

$blog2-btn-border-color: #000000;
$blog2-btn-bgColor: #fffffff3;
$blog2-title-color: #000000;

@import '../../themed/blog-style.scss';